*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

table 
{
    text-align: left;
}

th, td
{
    padding: 16px;
}

a
{
    display: inline-block;
    margin: 16px;
    padding: 16px 24px;
    border-radius: 15px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
}

.setting_backoffice h1 
{
    text-align: center;
}

.setting_backoffice
{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.setting_backoffice input[type=text], 
.setting_backoffice input[type=number], 
.setting_backoffice #type, button[type=submit]
{
    margin: 0 auto;
    width: 40%;
    padding: 16px;
    border-radius: 15px;
    margin: 8px;
    border: 1px solid lightblue;
}

.setting_backoffice .save_btn
{
    background-color: lightgreen;
    color: #fff;
    font-size: 24px;
}

input[type=submit]
{
    margin: 16px;
    padding: 16px 24px;
    border-radius: 15px;
    background-color: red;
    color: #fff;
    text-decoration: none;
}

p.missed_input_required
{
    color:red;
    text-align: left;
}

.align_errors
{
    margin: 0 auto;
    width: 40%;
}